@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2% 0 0 5%;
}

.cabecalho-menu {
    display: flex;
    margin-right: 5%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.cabecalho-menu-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    color: #22D4FD;
}

.apresentacao-index {
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.apresentacao__conteudo {
    flex: 1;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 2px solid #22D4FD;
    width: 100%;
    max-width: 24rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 0;
    text-decoration: none;
    color: #F6F6F6;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}



/*CSS Pagina Sobre Mim  */
.about-us {
    padding: 3% 5%;
    text-align: center;
}

.conteudo__cards {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.card {
    background-color: #333;
    border: 2px solid #22D4FD;
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 18.75rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.foto-perfil-sobre{
    width: 4%;
    height: 4%;
}

.card__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.card__descricao {
    font-size: 1.125rem;
}

.card_link_projeto {
    text-decoration: none;
    color: #22D4FD;
    font-size: 1.125rem;
}

.rodape {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    width: 100%;
}
/*CSS Pagina Projetos*/
.cabecalho {
    padding: 2% 0 0 5%;
}

.cabecalho-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.cabecalho-menu-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    color: #22D4FD;
}

@keyframes pulse-glow {
    0% {
        text-shadow: #00ffff 1px 0 2px;
    }
    50%{
        text-shadow: #00ffff 1px 0 10px;
    }
    100% {
        text-shadow: #00ffff 1px 0 2px;
    }

}

.cabecalho-menu-link:hover {
    animation: pulse-glow 1.3s infinite;
    color: #00ffff;
}

.cabecalho-menu-link.active {
    color: #00ffff;
}

.conteudo {
    padding: 3% 5%;
    text-align: center;
}

.conteudo__titulo {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

.conteudo__cards {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.card {
    background-color: #333;
    border: 2px solid #22D4FD;
    border-radius: 0.5rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 18.75rem;
    text-align: center;
}

.card__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

.card__descricao {
    font-size: 1.125rem;
}

.card_link_projeto {
    text-decoration: none;
    color: #22D4FD;
    font-size: 1.125rem;
}

.rodape {
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 1.5rem;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
/*CSS Pagina Contato*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: black;
    margin: 0;

    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0 0 5%;
}

.cabecalho-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.cabecalho-menu-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    color: #22D4FD;
}

.conteudo_contato {
    padding: 3% 5%;
    text-align: center;
    margin-top: 5vh;
}

.conteudo__titulo_contato {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.conteudo_paragrafo_contato {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    padding: 0 10%;
}

.contato {
    display: inline-block;
    background-color: #22D4FD;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 1.125rem;
    margin-top: 5vh;
}

.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30rem;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.container select,
.container input,
.container textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.container input:focus,
.container select:focus,
.container textarea:focus {
    border-color: #007BFF;

}

.container a {
    background: #007BFF;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.container a:hover {
    background: #0056b3;
}

#charCount {
    margin-top: -1rem;
    text-align: right;
    justify-content: flex-end;
    color: black;
}

@media (max-width: 769px) {

    /* pagina inicial */
    .cabecalho{
        margin: 0;
        padding: 0;
        margin-top: 10%;
        width: 30%;
        height: 100%;
        background-color: #f1f1f1;
        position: fixed;
        overflow: auto;
        background-color: #000000;
    }
    .apresentacao-index{
        margin-left: 30%;
    }
    /* pagina sobre */
    .about-us{
        margin-left: 28%;

    }


    /* pagina projeto */
    .conteudo{
        margin-left: 25%;
    }
    /* pagina contato */
    .conteudo_contato{
        margin-left: 30%;
    }



}
