@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: black;
    margin: 0;
    padding-bottom: 60px; /* Espaço para o rodapé */
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    color: #22D4FD;
}

.conteudo {
    padding: 3% 15%;
    text-align: center;
}

.conteudo__titulo {
    font-size: 36px;
    margin-bottom: 40px;
}

.conteudo__cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #333;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card__titulo {
    font-size: 24px;
    margin-bottom: 10px;
}

.card__descricao {
    font-size: 18px;
}
.card_link_projeto{
    text-decoration: none;
    color: #22D4FD;
    font-size: 18px;
}
.rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}